# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and other clutter
*.log
*.pdf
*.png
*.jpg

# Demo images
!music_fragment.png
!music_pdf.png